.page {

    &__features {
    }
}
.features {
    padding: 170px 0 200px 0;
    &__container {
    }

    &__header-block {
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 280px;
        display: grid;
        gap: 20px;
        justify-items: center;
        text-align: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 26px;
        background-color: $primary-color;
        height: 102px;
        width: 102px;
        box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
    }

    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
    }

    &__text {
        line-height: 187.5%; /* 30/16 */
    }
}
.header-block {

    &__label {
    }

    &__title {
    }
}

@media (max-width: 991.98px) {
    .features {
        padding: 120px 0 140px 0;
        &__items {
            justify-content: center;
            gap: 40px;
        }
    }
}
@media (max-width: 609.98px) {
    .features {
        &__item {
            flex-grow: 1;
        }
    }
}

@media (max-width: 479.98px) {
    .features {
        padding: 80px 0;
        
    }
}